[Unit]
Description=Zookeper server (Kafka)
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=simple
User=root
Group=root
Environment=JAVA_HOME=/usr/lib/jvm/jre-1.8.0-openjdk
ExecStart=/opt/kafka_2.11-0.10.2.0/bin/zookeeper-server-start.sh /opt/kafka_2.11-0.10.2.0/config/zookeeper.properties
ExecStop=/opt/kafka_2.11-0.10.2.0/bin/zookeeper-server-stop.sh /opt/kafka_2.11-0.10.2.0/config/zookeeper.properties 
Restart=on-abort

[Install]
WantedBy=multi-user.target
